p{
    color:red;
    font-size:22pt;
}
p#gruba_szefler{
    color:green;
    font-size:17pt;
    font-weight: bold;
}
#dlawszystkich{
    color:yellow;
    font-size:10pt;
    font-family: Arial;
}
<!-Emilia Szefler->